/* ___________________________________________________________________________________________________________________________________
                                                           COLORS
 _______________________________________________________________________________________________________________________________________*/

:root {
    --pink: #FFA585;
    --red: #FF7847;
    --blue: #6A71A0;
    --darkBlue: #2D3047;

    --purple: #890cd6;
    --yellow: #e0bf00;
    --green: #48b850;
    --neonPink: #b654a9;
    --strongRed: #ff1b1b;
    --orange: #ff9933;
    --lightBlue: #57c2ff;
}





/* ___________________________________________________________________________________________________________________________________
                                                           GRID
 _______________________________________________________________________________________________________________________________________*/

.sidenav {
    grid-area: sideBar;
}

.intro {
    grid-area: intro;
}

.projects {
    grid-area: projects;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'sideBar intro'
        'sideBar projects'
        'sideBar contact';

}




.projectBubble {
    display: grid;
    grid-template-areas:
        'passGas heavensFall treasure'
        'uwu zoo deltaStar';
    gap: 25px;
    padding: 2vw 2vw;
}

.grid-container h1 {
    font-family: 'Anton', sans-serif;

    font-size: 3vw;
    color: #2D3047;
}

.projectBubble div {
    background-color: var(--blue);
    padding: 30px;
    width: 20vw;
    overflow: hidden;
    height: fit-content;
}

.projectBubble .tag {
    padding: 0.5vw;
    box-sizing: border-box;
}

.tag .progLang{
    background-color: var(--purple);
}

.tag .misc{
    background-color: var(--neonPink);
}

.tag .engine{
    background-color: var(--yellow);

}

.tag .time{
    background-color: var(--green);

}

.tag .team{
    background-color: var(--orange);
}

.tag .state{
    background-color: var(--strongRed);
}

.tag .date{
    background-color: var(--lightBlue);

}

.projectBubble .tag span {
    font-family: 'Lucida Sans Unicode';
}

.tag span {
    color: #fff;
    background-color: #9c27b0;
    padding: 8px 16px;
    text-align: center;
    border-radius: 8px;
    margin-top: 0.3vw;
    display: inline-block;
    
}

.projectBubble div img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    overflow: hidden;
}

.projectBubble div h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 2vw;
    color: var(--pink);
}

.deltaStar {
    grid-area: deltaStar;

}

.hpUwU {
    grid-area: uwu;

}

.treasureHunt {
    grid-area: treasure;

}

.passTheGas {
    grid-area: passGas;
}

.heavensFall {
    grid-area: heavensFall;

}

.Zoo{
grid-area: zoo;
}

.PT {
    grid-area: pt;

}

/* ___________________________________________________________________________________________________________________________________
                                                            the header TABEA VAN HASZ 
 _______________________________________________________________________________________________________________________________________*/
header {

    font-family: 'Anton', sans-serif;
    background-color: var(--blue);
    font-size: 2vw;
    color: var(--pink);
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
}

h1 {
    text-align: center;

}

header div {
    right: 0px;
    position: absolute;
    margin-right: 15vw;
    margin-top: 3.75vw;
}

.fa {
    padding: 10px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    background: #FF7847;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-instagram {
    background: #C13584;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}


/* ___________________________________________________________________________________________________________________________________
                                                            TOP NAV 
 _______________________________________________________________________________________________________________________________________*/





/*  unordered list in the nav bar */
nav ul {

    list-style-type: none;
    margin: 30px;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;

}


/*  list components in the list inside nav bar */
nav ul li a {
    font-family: 'Lucida Sans Unicode';
    border-width: 0px;
    color: #2D3047;
    text-align: center;
    padding: 12px 80px;

    text-decoration: none;
}

nav ul li a.selected {
    background-color: #6A71A0;
    color: #FFA585;
}

nav ul li a:hover {
    background-color: #FF7847;
    color: #2D3047;
}


hr {

    border: 0;
    border-top: 4px solid #FF7847;
    border-bottom: 2px dashed #FF7847;

    height: 3px;
}





/* ___________________________________________________________________________________________________________________________________
                                                            SIDE NAV 
 _______________________________________________________________________________________________________________________________________*/



.sidenav {
    height: 100%;


    z-index: 1;
    border-width: 20px;

    border-left: 2px dashed var(--red);
    border-right: 2px dashed var(--red);
}

.sidenav div {
    position: sticky;

    top: 0;
}

.sidenav button {
    font-family: 'Anton', sans-serif;
    width: 100%;
    padding: 5vw 9vw;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    color: #2D3047;
    display: block;
    border: none;
    background-color: var(--pink);
    transition-duration: 0.4s;
    cursor: pointer;
}

.sidenav button p {
    text-align: center;

}

.sidenav button:hover {
    background-color: #FF7847;
    color: #2D3047;
}

.sidenav button.selected {
    background-color: #6A71A0;
    color: #FFA585;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* ___________________________________________________________________________________________________________________________________
                                                            INTRO
 _______________________________________________________________________________________________________________________________________*/



body {
    background-color: #FFA585;
}

body h2 {
    font-family: 'Anton', sans-serif;
    margin: 0px;
    font-size: 60px;
}



.introduction {
    margin: 4vw;
    padding: 40px 60px;
    background-color: #6A71A0;
    color: #FFA585;
}

.introduction>p {
    font-family: 'Lucida Sans Unicode';
    font-size: auto;
    line-height: 30px;
}


.introduction p:last-child {
    clear: auto;
}

.introduction>img {
    float: left;
    padding-right: 40px;
    padding-bottom: 25px;
    max-height: 300px;
    max-width: 300px;

}