/* ___________________________________________________________________________________________________________________________________
                                                           COLORS
 _______________________________________________________________________________________________________________________________________*/

:root {
    --pink: #FFA585;
    --red: #FF7847;
    --blue: #6A71A0;
    --blueSelected: #c4cceb;
    --darkBlue: #2D3047;

    --highlighted-text: var(--blue);
    --background-color: var(--pink);
    --background-accent: var(--red);
    --secondBackground-color: var(--blue);
    --textColor: var(--darkBlue);
    --textColorLight: var(--pink);

    --purple: #890cd6;
    --yellow: #e0bf00;
    --green: #48b850;
    --neonPink: #b654a9;
    --strongRed: #ff1b1b;
    --orange: #ff9933;
    --lightBlue: #57c2ff;

    --eerieBlack: 
    --Charcoal
}





/* ___________________________________________________________________________________________________________________________________
                                                           GRID
 _______________________________________________________________________________________________________________________________________*/

.sidenav {
    grid-area: sideBar;
}

.intro {
    grid-area: intro;
}

#profilePic{
    border-radius: 50%;
}

.projects {
    grid-area: projects;
}

.projectsExpand{
    grid-area: projectsExpand;
}

.contact{
    grid-area: contact;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'sideBar intro'
        'sideBar projects'
        'sideBar projectsExpand'
        'sideBar contact';

}

ul[class] {
    margin: 0;
    margin-bottom: 5rem;
    padding: 0;
}

ul[class] li {
    list-style: none;
    margin: 1rem;
    padding: 1.4rem;
}

ul[class] li.projectItem > * {
    margin: 0;

}

.projectBubble {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense; /* [2] */
    grid-template-columns: repeat(auto-fit, 20rem); /* [1] */
    justify-content: center;
}

.projectBubble > * {
    background: var(--secondBackground-color);
}

/* [3] Make fullwidth card span all grid columns. */
.fullwidth {
    grid-row: 1/ 1;
    grid-column: 2 / -1;
    transition-delay: 1s;
}

.project-item-expanded{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    
}

.is-hidden {
    display: none;
}

.fullwidth,
.is-selected {
    background: var(--background-accent);

}

.fullwidth p{
    margin: 0;
    font-family: 'Lucida Sans Unicode';
    font-size: auto;
    line-height: 30px;
}

.fullwidth p mark{
    font-weight: bold;
    background: none;
    color: var(--highlighted-text);
}

.fullwidth a.button{
    display: inherit;
background-color: var(--background-accent);
border-style: dashed;
border-width: 0.3rem;
border-color: var(--strongRed);
margin-top: 2rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--highlighted-text);
  font-family: 'Lucida Sans Unicode';
    font-size: auto;
}

.fullwidth a.button:hover{
    background-color: var(--background-color);
    border-color: var(--strongRed);
}

.fullwidth a.link{
    color: var(--blueSelected);    
}

.fullwidth a.link:hover{
    color: var(--strongRed);
}

.fullwidth i {
    color: var(--background-accent);
    background: none;
}

.fullwidth img{
    width: 33%;
    display: inherit;
    float: right;
    object-fit: cover;
    overflow: hidden;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.grid-container h1 {
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    color: #2D3047;
}


.projectBubble .tag {
    padding: 0.5vw;
    box-sizing: border-box;
}

.tag .progLang {
    background-color: var(--purple);
}

.tag .misc {
    background-color: var(--neonPink);
}

.tag .engine {
    background-color: var(--yellow);

}

.tag .time {
    background-color: var(--green);

}

.tag .team {
    background-color: var(--orange);
}

.tag .state {
    background-color: var(--strongRed);
}

.tag .date {
    background-color: var(--lightBlue);

}

.projectBubble .tag span {
    font-family: 'Lucida Sans Unicode';
}

.tag span {
    color: #fff;
    background-color: #9c27b0;
    padding: 8px 16px;
    text-align: center;
    border-radius: 8px;
    margin-top: 0.3vw;
    display: inline-block;

}

.projectBubble .projectMore{
    padding: 0px;
    text-align: center;
    position: relative;
}

.projectBubble button img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


.projectBubble button p{
    font-family: 'Anton', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 3vw;
    margin:0px;
    visibility: hidden;
}


.projectBubble button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.projectBubble .moreModeOn p{
    visibility: visible;
}

.projectBubble .moreModeOn img{
    filter: grayscale(100%) opacity(75%);
}

.projectBubble .moreModeOn video{
    filter: grayscale(100%) opacity(75%);
}

.projectBubble .project-item-expanded img.vidReplacement{
    display: inherit;
}

.projectBubble .project-item-collapsed img.vidReplacement{
    filter: none;
    display: none;
}

.projectBubble .project-item-expanded  video{
    display: inherit;
}

.projectBubble .project-item-collapsed  video{
    display:none;
}

.projectBubble .project-item-expanded button img{
    display: none;
}

.projectBubble .project-item-collapsed button img{
    display:inherit;
}

.projectBubble  video{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.projectBubble li h2 {
    text-align: center;
    margin: 0 auto;
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    color: var(--background-color);
}




/* ___________________________________________________________________________________________________________________________________
                                                            the header TABEA VAN HASZ 
 _______________________________________________________________________________________________________________________________________*/
header {

    font-family: 'Anton', sans-serif;
    background-color: var(--secondBackground-color);
    font-size: 2vw;
    color: var(--background-color);
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 100%;
}

h1 {
    text-align: center;

}

header div {
    right: 0px;
    position: absolute;
    margin-right: 15vw;
    margin-top: 3.75vw;
}

.fa {
    padding: 10px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    background: #FF7847;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-instagram {
    background: #C13584;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}


/* ___________________________________________________________________________________________________________________________________
                                                            TOP NAV 
 _______________________________________________________________________________________________________________________________________*/





/*  unordered list in the nav bar */
nav ul {

    list-style-type: none;
    margin: 30px;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;

}


/*  list components in the list inside nav bar */
nav ul li a {
    font-family: 'Lucida Sans Unicode';
    border-width: 0px;
    color: #2D3047;
    text-align: center;
    padding: 12px 80px;

    text-decoration: none;
}

nav ul li a.selected {
    background-color: #6A71A0;
    color: #FFA585;
}

nav ul li a:hover {
    background-color: #FF7847;
    color: #2D3047;
}


hr {

    border: 0;
    border-top: 4px solid #FF7847;
    border-bottom: 2px dashed #FF7847;

    height: 3px;
}





/* ___________________________________________________________________________________________________________________________________
                                                            SIDE NAV 
 _______________________________________________________________________________________________________________________________________*/



.sidenav {
    height: 100%;


    z-index: 1;
    border-width: 20px;

    border-left: 2px dashed var(--background-accent);
    border-right: 2px dashed var(--background-accent);
}

.sidenav div {
    position: sticky;

    top: 0;
}

.sidenav button {
    font-family: 'Anton', sans-serif;
    width: 100%;
    padding: 5vw 9vw;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
    color: #2D3047;
    display: block;
    border: none;
    background-color: var(--background-color);
    transition-duration: 0.4s;
    cursor: pointer;
}

.sidenav button p {
    text-align: center;

}

.sidenav button:hover {
    background-color: var(--background-accent);
    color: #2D3047;
}

.sidenav button.selected {
    background-color: var(--secondBackground-color);
    color: var(--background-color);
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}


/* ___________________________________________________________________________________________________________________________________
                                                            INTRO
 _______________________________________________________________________________________________________________________________________*/



body {
    background-color: var(--background-color);
}

body h2 {
    font-family: 'Anton', sans-serif;
    margin: 0px;
    font-size: 60px;
}



.introduction {
    margin: 4vw;
    padding: 40px 60px;
    background-color:var(--secondBackground-color);
    color: var(--background-color);
}

.introduction>p {
    font-family: 'Lucida Sans Unicode';
    font-size: auto;
    line-height: 30px;
}


.introduction p:last-child {
    clear: auto;
}

.introduction>img {
    float: left;
    padding-right: 40px;
    padding-bottom: 25px;
    max-height: 300px;
    max-width: 300px;

}