/*  the header TABEA VAN HASZ */
header {
   
    font-family: 'Anton', sans-serif;
   
    font-size: 22px;
    color: #2D3047;
}

h1{
    text-align: center;
   
}

header div {
    right: 0px;
   position: absolute;
  margin-right: 15vw;
}


.fa{
    padding: 10px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    background: #FF7847;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-instagram {
    background: #C13584;
    color: white;
}

.fa-linkedin {
    background: #0077B5;
    color: white;
}


/*  unordered list in the nav bar */
nav ul { 

    list-style-type: none;
    margin: 30px;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-block;

}


/*  list components in the list inside nav bar */
nav ul li a{
    font-family: 'Lucida Sans Unicode';
    border-width: 0px;
    color: #2D3047;
    text-align: center;
    padding: 12px 80px;

    text-decoration: none;
}

nav ul li a.selected{
    background-color: #6A71A0;
    color: #FFA585;
}

nav ul li a:hover {
    background-color: #FF7847;
    color: #2D3047;
}


hr{

    border: 0;
    border-top: 4px solid #FF7847;
    border-bottom: 2px dashed #FF7847;

    height: 3px;
}



/*   */
body { 
    background-color: #FFA585;
}


body h2{
    font-family: 'Anton', sans-serif;
    margin:0px;
    text-align: center;
    font-size: 3vw;
    padding-bottom: 10px;
}

body> div{
    margin: 7vw 20vw;
    padding: 40px  60px;
    background-color:  #6A71A0;
    color: #FFA585;
    overflow:hidden;
    
}

body > div >p{
    font-family: 'Lucida Sans Unicode';
    font-size: 1.3vw;
    
}




body > div > video{
   float: left;
    padding-right: 2vw;
    padding-bottom: 0;
    max-height: 14vw;

}


body > div >img{
    clear: both;
    float: right;
    padding-left: 40px;
    padding-top: 25px;
    padding-bottom: 1vw;
    max-height: 14vw;
    max-width: 230px;

}

body > div >p:last-child{
    clear: left;
}


body > div > a{
    background-color: #FFA585;
    color: #6A71A0;
    text-align: center;
    padding: 5px;
}
