/* ___________________________________________________________________________________________________________________________________
                                                           COLORS
 _______________________________________________________________________________________________________________________________________*/

 :root {
    --green: #2C9331;
    --bgGrey: #333333;
    --textColor: white;
}

/* ___________________________________________________________________________________________________________________________________
                                                           TAGS
 _______________________________________________________________________________________________________________________________________*/
body{
    background-color: var(--bgGrey);
    color: var(--textColor);
}